
html{
   
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: lightblue;
    opacity: 0.8;
    background-image: url("bgdesert.jpg");
    
  }
figcaption{
    text-align: center;
    font-size:x-large;
    font-family: sans-serif;
    padding-right: 300px;
    padding-left: 300px;
    
}
p{
    text-align: center;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
a{
    background:white;
    color:red;
}

img{
    align-items: center;
    border-radius: 150px;
  
  padding: 20px;
  width: 400px;
  height: 300px;
}

